/*
***********
*=miscellaneous
***********
*/

body {
	font-family: arial, sans-serif;
	font-size: small;
}

.main {
	text-align: center;
}

.logo {
	height: 231px;
	margin-top: 80px;
	text-align: center;
}

.logo img {
	height: 95px;
	width: 269px;
	padding-top: 112px;
}

.searchform {
	height: 87px;
	width: 100%;
	min-width: 980px;
	position: absolute;
	top: 310px;
	text-align: center;
}

#search {
	position: relative;
	height: 88px;
	width: 571px;
	padding: 0 284px;
	margin: 0 auto;
}

.searchbar {
	height: 30px;
	width: 571px;
	border: 1px solid #d9d9d9;
	position: relative;
}

.searchbar input {
	display: inline-block;
	position: absolute;
	width: 521px;
	height: 19px;
	font: 16px arial, sans-serif;
	margin: 5 20 0 0;
	left: 5;
	border: none;

}

.searchbar img {
	width: 14px;
	height: 19px;
	position: absolute;
	right: 5;
	top: 5;
}

























/*
.header {
	width:100%;
	min-width: 980px;
	height: 30px;
	position:relative;
	margin-top: 14px;
}

.header ul {
	display: inline-block;
}


.header ul li {
	display:inline;

}

.header a {
	text-decoration: none;
	color: #404040;
	padding-left: 13px;
}

#words {
	margin: auto;
	position: absolute;
	top: 10;
	bottom: 0;
	left: 0;
	right: 0;
}


#profile {
	padding-right: 30px;
}

#profile img {
	height: 32px;
	width: 32px;
	border-radius: 100%;
}

/*
***********
*=main
***********


.main {
	width: 100%;
	min-width: 980px;
	position:relative;
	text-align: center;
	margin-top: 112px;
	padding-top: 36px;
}

.main img {
	margin: 0px auto;
	height: 95px;
	width: 269px;
	padding-bottom: 24px;
}

#microphone {
	position: relative;
	height: 19px;
	width: 14px;
	padding: 0;
	float: right;
	padding: 5 4;
	color: ;
}

.main div {
	position:relative;
	height: 30px;
	width: 571px;
	margin: auto;
	border: 1px solid #d9d9d9;
	}

.main div input {
	position: absolute;
	width: 437px;
	height: 19px;
	bottom: 3px;
	left: 9px;
	border:none;
}

.main div input:focus {
	border: none;
}

*/